BOOKMARKS
ChangeLog
FoulisGreek.ttf
github-stars.sh
IGNORE
index.html
Junicode-BoldItalic.ttf
Junicode-Bold.ttf
Junicode-CondItalic.otf
Junicode-CondLightItalic.otf
Junicode-CondLight.otf
Junicode-CondMediumItalic.otf
Junicode-CondMedium.otf
Junicode-Cond.otf
Junicode-Italic.ttf
Junicode-RegularCondensed.ttf
Junicode.ttf
label.gif
starred
.*
